
<h1>Welcome!</h1>

<div class="play-container">
  <img src="https://www.eckeroline.com/media/catalog/product/cache/0f3dc3b6609d75343169595aac92d4b7/c/o/corona_extra_24pack_m2.png" alt="" style="width:128px;height:128px;" >
    <p>You've clicked <span (click)="countClick()">Beer</span> {{ clickCounter }} times.</p>
</div>
<div class="play-container">
    <p>
        <input type="text" [(ngModel)]="name"><br>
        <strong>You said: </strong> {{ name }}
    </p>
</div>

<div class="play-container" 
[ngStyle]="{
    'background-color': clickCounter > 4 ? 'lightblue' : 'lightgray',
    'border':           clickCounter > 3 ? '4px solid lightgray' : '1px solid lightblue'}"
>
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
        <p>Your Beer botles is <strong>IS GREATER</strong> than 3.</p>
    </ng-template>

    <ng-template #none>
        <p>Your Beer botles <strong>not greater</strong> than 3.</p>
    </ng-template>
</div>